<!-- Container #1 (see wireframe) -->
<div flex layout="row">

	<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
		<md-toolbar>
			<h1 class="md-display-1" layout="row" flex layout-align="center center">Charles Javelona</h1>
		</md-toolbar>
		<md-list ng-controller="MainController" layout="column" >
			<!-- Insert Profile-->
			<md-item>
				<md-button>
					<md-icon ng-click="gotoAnchor(1)" gmd-svg-src="icon-home" class="avatar"></md-icon>
					Profile
				</md-button>
			</md-item>
			<!-- Insert Experience -->
			<md-divider></md-divider>
			<md-item >
				<md-button>
					<md-icon md-svg-src="icon-home" class="avatar"></md-icon>
					Skills
				</md-button>
			</md-item>

			<!-- Project -->
			<md-divider></md-divider>
			<md-item >
				<md-button>
					<md-icon md-svg-src="icon-home" class="avatar"></md-icon>
					Projects
				</md-button>				
			</md-list>
		</md-sidenav>

		<!--column--!>
		<md-content flex id="content" layout-padding style="height: 600px;padding: 24px;">	
			<profile-page id="anchor1"></profile-page>
			<skill-page></skill-page>

			<md-toolbar>
				<h1 class="md-display-1" layout="row" flex layout-align="start center">Projects</h1>
			</md-toolbar>
			<!--testing api like structure-->
			<md-card ng-repeat="awesomeThing in main.awesomeThings | orderBy:'rank'">
				<!--img class="right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}"-->
				<div class="caption">
					<h3>{{ awesomeThing.title }}</h3>
					<p>{{ awesomeThing.description }}</p>
					<a class="projects" ng-href="{{ awesomeThing.url }}">{{ awesomeThing.url }}</a>
				</div>
				<md-divider></md-divider>
			</md-card>
			<div class="fixed-header" ng-controller="MainController">
				<a href="" ng-click="gotoAnchor(x)" ng-repeat="x in [1,2,3,4,5]">
					Go to anchor {{x}}
				</a>
			</div>
			<div id="anchor{{x}}" class="anchor" ng-repeat="x in [1,2,3,4,5]">
				Anchor {{x}} of 5
				<br><br><br><br><br>
			</div>

		</md-content>
	</div>


