.md-display-2 {
	padding-left: 50px;

}

.md-headline {
	color: #616161;
	padding-left: 30px;
}

.logos {
    width: 100px;
	height: 100px;
    margin-left: 36.328px;
	margin-right: 36.328px;	
}

h5.perl {
    padding-left: 80px;	
}

#jquery {
	margin-left: 70px;
}

