<!-- Maybe seperate content for each page?? -->
<md-toolbar>
	<h1 class="md-display-2" layout="row" flex layout-align="start center">Skills</h1>
</md-toolbar>
<md-card>
	<h1 class="md-headline"><strong>Programming Languages</strong></h1>
	<md-divider></md-divider>
	<br>
	<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>	
		<div>
			<img ng-src="/assets/logos/html5-logo.png" alt="HTML5" class="logos">
			<h5 layout="row" layout-align="center center" >HTML 5</h5>
		</div>
		<div>
			<img ng-src="/assets/logos/css3-logo.png" alt="CSS3" class="logos">
			<h5 layout="row" layout-align="center center">CSS 3</h5>
		</div>
		<div>
			<img ng-src="/assets/logos/javascript-logo.png" alt="Javascript" class="logos">
			<h5 layout="row" layout-align="center center">Javascript</h5>
		</div>
		<div>
			<img ng-src="/assets/logos/php-logo.png" alt="PHP" class="logos">
			<h5 layout="row" layout-align="center center">PHP</h5>
		</div>
		<div>
			<img ng-src="/assets/logos/java-logo.png" alt="Java" class="logos">
			<h5 layout="row" layout-align="center center">Java</h5>
		</div>
	</section>
	<!-- Programming language section 2-->
	<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
		<div>
			<img ng-src="/assets/logos/python-logo.png" alt="Python" class="logos">
			<h5 layout="row" layout-align="center center" >Python</h5>
		</div>
		<div>
			<img ng-src="/assets/logos/r-logo.png" alt="R" class="logos">
			<h5 layout="row" layout-align="center center">R</h5>
		</div>
		<div>
			<img ng-src="/assets/logos/coffeescript-logo.png" alt="Coffeescript" class="logos">
			<h5 layout="row" layout-align="center center">Coffeescript</h5>
		</div>
		<div>
			<img ng-src="/assets/logos/markdown-logo.png" alt="Markdown" class="logos">
			<h5 layout="row" layout-align="center center">Markdown</h5>
		</div>
		<div>
			<img ng-src="/assets/logos/sass-logo.png" alt="Sass" class="logos">
			<h5 layout="row" layout-align="center center">Sass</h5>
		</div>
	</section>
	<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
		<div flex="90">
			<img ng-src="/assets/logos/perl-logo.jpg" alt="Perl" class="logos">
			<h5 class="perl" layout="row" layout-align="start center">Perl</h5>
		</div>
	</section>
</md-card>

<!--Card 2 Database-->
<md-card>
	<h1 class="md-headline"><strong>Databases</strong></h1>
	<md-divider></md-divider>
	<br>
	<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>	
		<div>
			<img ng-src="/assets/logos/postgresql-logo.png" alt="Postgresql" class="logos">
			<h5 layout="row" layout-align="center center" >Postgresql</h5>
		</div>
		<div>
			<img ng-src="/assets/logos/sqlite-logo.svg" alt="Sqlite" class="logos">
			<h5 layout="row" layout-align="center center">SQLite</h5>
		</div>
		<div>
			<img ng-src="/assets/logos/mysql-logo.png" alt="MySql" class="logos">
			<h5 layout="row" layout-align="center center">MySql</h5>
		</div>
		<div>
			<img ng-src="/assets/logos/oracle_database-logo.png" alt="PL/SQL" class="logos">
			<h5 layout="row" layout-align="center center">PL/SQL</h5>
		</div>
		<div>
			<img ng-src="/assets/logos/cloud-sql-logo.png" alt="Cloud SQL" class="logos">
			<h5 layout="row" layout-align="center center">Google Cloud SQL</h5>
		</div>
	</section>
</md-card>

<!--Card 3 Framework-->
<md-card>
	<h1 class="md-headline"><strong>Frameworks</strong></h1>
	<md-divider></md-divider>
	<br>
	<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>	
		<div>
			<img ng-src="/assets/logos/django-logo.png" alt="Django" class="logos">
			<h5 layout="row" layout-align="center center">Django</h5>
		</div>
		<div>
			<img ng-src="/assets/logos/flask-logo.png" alt="Flask" class="logos">
			<h5 layout="row" layout-align="center center">Flask</h5>
		</div>
		<div>
			<img ng-src="/assets/logos/webapp2-logo.png" alt="Webapp2" class="logos">
			<h5 layout="row" layout-align="center center">WebApp2</h5>
		</div>
		<div>
			<img ng-src="/assets/logos/mamp-logo.png" alt="Mamp" class="logos">
			<h5 layout="row" layout-align="center center">MAMP</h5>
		</div>
		<div>
			<img ng-src="/assets/logos/django-rest-logo.jpg" alt="DjangoRest" class="logos">
			<h5 layout="row" layout-align="center center">Django Rest Framework</h5>
		</div>
	</section>
	<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>	
		<div>
			<img ng-src="/assets/logos/bootstrap-logo.png" alt="Bootstrap" class="logos">
			<h5 layout="row" layout-align="center center">Bootstrap</h5>
		</div>
		<div>
			<img ng-src="/assets/logos/materialize-logo.png" alt="Materialize" class="logos">
			<h5 layout="row" layout-align="center center">Materialize</h5>
		</div>
		<div>
			<img ng-src="/assets/logos/zurb-yeti-logo.png" alt="Foundation" class="logos">
			<h5 layout="row" layout-align="center center">Foundation</h5>
		</div>
		<div>
			<img ng-src="/assets/logos/angularjs-logo.png" alt="AngularJS" class="logos">
			<h5 layout="row" layout-align="center center">AngularJS</h5>
		</div>
		<div>
			<img ng-src="/assets/logos/angular-material-logo.png" alt="Angular Material" class="logos">
			<h5 layout="row" layout-align="center center">Angular Material</h5>
		</div>
	</section>
	<section layout="row" layout-sm="column" layout-align="start center" layout-wrap>
		<div id="jquery">
			<img ng-src="/assets/logos/jquery-logo.png" alt="JQuery" class="logos">
			<h5 layout="row" layout-align="center center">JQuery</h5>
		</div>
		<div>
			<img ng-src="/assets/logos/nodejs-logo.png" alt="NodeJS" class="logos">
			<h5 layout="row" layout-align="center center">NodeJS</h5>
		</div>
	</section>
</md-card>
<!--Tools of Choice-->
<md-card>
	<h1 class="md-headline"><strong>Tools of Choice</strong></h1>
	<md-divider></md-divider>
	<br>
	<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>	
		<div>
			<img ng-src="/assets/logos/terminal-logo.png" alt="Terminal" class="logos">
			<h5 layout="row" layout-align="center center">Terminal</h5>
		</div>
		<div>
			<img ng-src="/assets/logos/vim-logo.png" alt="Vim" class="logos">
			<h5 layout="row" layout-align="center center">Vim</h5>
		</div>
		<div>
			<img ng-src="/assets/logos/gulp-logo.png" alt="Gulp" class="logos">
			<h5 layout="row" layout-align="center center">Gulp</h5>
		</div>
		<div>
			<img ng-src="/assets/logos/github-logo.png" alt="Github" class="logos">
			<h5 layout="row" layout-align="center center">Github</h5>
		</div>
		<div>
			<img ng-src="/assets/logos/asana-logo.jpg" alt="Asana" class="logos">
			<h5 layout="row" layout-align="center center">Asana</h5>
		</div>
	</section>
		<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>	
		<div>
			<img ng-src="/assets/logos/yeoman-logo.png" alt="Yeoman" class="logos">
			<h5 layout="row" layout-align="center center">Yeoman</h5>
		</div>
		<div>
			<img ng-src="/assets/logos/bower-logo.png" alt="Bower" class="logos">
			<h5 layout="row" layout-align="center center">Bower</h5>
		</div>
		<div>
			<img ng-src="/assets/logos/slack-logo.png" alt="Slack" class="logos">
			<h5 layout="row" layout-align="center center">Slack</h5>
		</div>
		<div>
			<img ng-src="/assets/logos/gitter-logo.jpg" alt="Gitter" class="logos">
			<h5 layout="row" layout-align="center center">Gitter</h5>
		</div>
		<div>
			<img ng-src="/assets/logos/taiga-logo.png" alt="Taiga" class="logos">
			<h5 layout="row" layout-align="center center">Taiga</h5>
		</div>
	</section>
		<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>	
		<div>
			<img ng-src="/assets/logos/google-logo.png" alt="Google" class="logos">
			<h5 layout="row" layout-align="center center">Google</h5>
		</div>
		<div>
			<img ng-src="/assets/logos/keynote-logo.png" alt="Keynote" class="logos">
			<h5 layout="row" layout-align="center center">Keynote</h5>
		</div>
		<div>
			<img ng-src="/assets/logos/pencil-logo.png" alt="Pencil" class="logos">
			<h5 layout="row" layout-align="center center">Pencil</h5>
		</div>
		<div>
			<img ng-src="/assets/logos/paper-logo.jpg" alt="Paper" class="logos">
			<h5 layout="row" layout-align="center center">Paper</h5>
		</div>
		<div>
			<img ng-src="/assets/logos/caffeine-logo.jpg" alt="Caffeine" class="logos">
			<h5 layout="row" layout-align="center center">Caffeine</h5>
		</div>
	</section>


</md-card>

